/*seccion de estilos CSS3 para la pagina web*/
body{
    background-color: rgba(255,255,255,0,6);
    background-image:url(../IMAGENES/FONDOPRO2.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover ;
    background-blend-mode: luminosity;
}
header{
    background:rgba(4, 247, 243, 0.41);
    border: 2px solid blue;
    border-radius: 20px 20px 10px 10px;
    display: flex;
    flex-direction: row;/*direccion horizontal o en fila*/
    justify-content: center;/*alinea horizontalmente*/
    align-items: center;/*alinea verticalmente*/
    backdrop-filter:blur(5px);
}
header img{
    padding: 15px;
}
/* seccion de estilos CSS3 para la barra de menu pagina web */
nav{
    background-color: rgba(4, 247, 182, 0.999);
    border: 2px solid rgb(0, 113, 128);
    border-radius: 22px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    margin: 5px;
}
nav ul{
    padding: 0 0;
    margin: 0 1px;
}
nav ul li{
display: inline;
list-style: none;
margin: 0 5px;
font: bold 12px verdana;
}
/* seccion de estilos CSS3 para seccion principal pagina web*/
section{
    width: 40%;
    border: 1px solid black;
    padding: 10px 10px;
    border-radius: 20px;
    margin: 10px auto;
    background: rgba(11, 217, 193, 0.232);
    backdrop-filter: blur (5px);
}
form{
    background: silver;
    width: 70%;
    border-radius: 20px;
    margin: 10px auto;
    box-shadow: inset 0 0 10px purple;

}
fieldset{
    border-style: none;
}
label{
    font-size: 18px;
}
textarea{
    resize: both;
    max-height: 100px;
}
input:focus , textarea:focus{
    border-color: rgba(0, 217, 255, 0.098);
    cursor: pointer;
    box-shadow: inset 0 0 8px rgba(0, 255, 217, 0.051);
    outline: 0 none;
}
form button{
    width: 40%;
    margin: 15px 0px 20px 25px;
    height: 40px;
    background: radial-gradient(teal,black);
    border: 2px solid black;
    color: white;
    border-radius: 15px 15px; 
}
form button:hover{
    background: rgba(173, 230, 230, 0.081);
    text-decoration: underline;
    color: black;
    cursor: pointer;
}
form input{
    height: 20px;
    box-sizing: border-box;
    color: black;
    outline: none;
    border: 1px solid black;
}
/* seccion de estilos CSS3 para el pie de pagina de pagina web*/
footer{
    font-size: 16px;
    text-align: center;
    color: rgba(0, 118, 139, 0.137);
}
* Se define estilos al contenedor grid en general vista PC*/
#grid-container > * {
   text-align: center;
   box-shadow: 1px 1px 7px 0px rgba(0,0,0,0.75);
   }
   /* Se define estilos al contenedor grid en general vista PC a 3 COLUMNAS.*/
#grid-container{
    display:grid;
    grid-gap:10px; 
    grid-template: 
    "header header header" 150px
    "nav nav nav" 50px
    "main main sidebar" 300px
    "main main sidebar" 300px
    "main main sidebar" 250px
    "footer footer footer" 150px /
    1000px 150px 300px; 
}
/*-----SECCION VISTA DE TABLETS   2 COLUMNAS------*/
@media (max-width:1024px){
    #grid-container{
        grid-template: 
        "header header" 170px
        "nav main" 800px
        "nav main"  700px
        "sidebar sidebar" 650px
        "footer footer" 100px /
        250px 450px; 
        font-size: 100%;/*Cambia el tamaño de la letra*/
    }

    #menu{
        background-color: rgba(22, 233, 223, 0.11);
        border-radius: 22px;
        display: block;
        padding: 45px;
        margin:40px;
        height: auto;
        text-align: center;
    }
    #main{
    display: flex;
    flex-direction:column;/* cambia la forma de dirección de fila a col*/
    justify-content: space-between;
    align-items:center;
    flex-wrap: wrap;/*se define el auto ajuste de ancho dispostivo pasa a sgte. linea*/
    max-width:100%;
    }
}
    /*----- SECCION VISTA DE CELULAR  UNA COLUMNA------*/
@media (max-width:640px){
    #grid-container{
    grid-template: 
    "header" 150px
    "nav" 50px
    "main" 1120px
    "sidebar" 800px
    "footer" 100px /
    500px; 
    font-size: 60%;
    }
}